html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

a {
	color: inherit;
	text-decoration: none;
}

img {
	max-width: 100%;
}

body {
	font-family: 'font', sans-serif;
  font-family: Arial, Verdana, sans-serif;
}

.main-content {
  display: flex;

  flex-direction: column;

  align-items: center;

  justify-content: center;

  min-height: 100vh;

  color: #fff;

  background-color: #070217;
}
.first {
  margin-bottom: 50px;
}
.second {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 18px;
}

.mod {
  background-color: #3f2aff
}

.second a {
  display: inline-block;
  padding: 24px 49px;
  margin-right: 25px;
}

.second a:last-child {
  margin-right: 0;
}

.third {
  font-weight: 700;
  font-size: 18px;
  color: #3f2aff;
}

.img_picture {
  padding-left: 30px;
  background-image: url("../img/download.png");
  background-position: left center;
  background-size: 20px 20px;
  background-repeat: no-repeat;
}

.container {
  margin: 0 auto;
  padding: 80px 0;
  width: 1170px;
  }

  .zaglavnaya {
    font-weight: 400;
    font-size: 60px;
    line-height: 60px;
    color: #333;
    padding-bottom: 40px;
    margin: 0;
  }

  .itog {
    padding-bottom: 10px;
    padding-top: 0;
    margin: 0;
    font-size: 40px;
    line-height: 46px;
    color: #333;

  }

  .soderjanie {
    padding-bottom: 10px;
    margin: 0;
    font-weight: 400;
    font-size: 30px;
    line-height: 34px;
    color: #333;
  }

  .nomer {
    padding-left: 15px;
  }

  .glavy {
    margin-bottom: 20px;
    color: #3f2aff;
  }

  .nomer .glavy .link {
    color: #3f2aff;
    border-bottom: 1px solid #3f2aff;
    font-size: 20px;
  }

  .nomer .glavy:last-child {
    margin-bottom: 0;
  }

  .picture {
    padding-bottom: 40px;
  }

  .pict {
    display: inline-block;
    padding-bottom: 40px;
    width: 872px;
    margin: 0;
    font-size: 0;
    font-weight: 400;
  }

  .line {
    border: 1px solid #b6b6b6;
    border-top: none;
    padding-top: 19px;
    padding-bottom: 19px;
    font-weight: 400;
    text-align: center;
    font-size: 14px;
  }

  .text {
    margin: 0;
    padding-bottom: 40px;
    width: 872px;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    color: #333;

  }

  .gray {
    border-radius: 20px;
    padding: 30px ;
    background-color: #f3f3f3;
    margin-bottom: 40px;
    border-radius: 20px;
    background-position: right;
    background-size: auto;
    background-repeat: no-repeat;
  }

  .gray:last-child {
    padding-bottom: 20px;
  }

  .gray p {
    width: 692px;
    padding-bottom: 10px;
  }

  .text_board {
    border-radius: 20px;
    padding: 50px 95px 50px 95px;
    width: 100%;
    font-weight: 700;
    font-size: 30px;
    color: white;
    background-color: #3f2aff;
  }

  .photo1 {
  background-image: url("../img/decorate-1.png");
  }

  .photo2 {
    background-image: url("../img/decorate-2.png");
  }

  .skillbox {
    padding-bottom: 25px;
  }

  .back a {
    padding-left: 52px;
    width: 170px;
    height: 23px;
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;
    color: #3F2AFF;
    background: url("../img/Arrow1.svg");
    background-position: left;
    background-repeat: no-repeat;
  }

  .zaglav {
    font-family: Arial;
    font-style: normal;
    font-weight: bold;
    font-size: 60px;
    line-height: 69px;
    color: #3F2AFF;
    margin: 25px 0 50px 0;
  }

  .cont {
    margin: 0;
    padding: 0;
    font-size: 0;
  }

  .numeracia {
    display: inline-block;
    box-shadow: 0 0px 40px rgba(0, 0, 0, .1);
    width: 572px;
    height: 505px;
    margin: auto;
    font-family: arial;
    padding-bottom: 25px;
    margin-bottom: 25px;
    overflow: hidden;
    margin-right: 25px;
  }

  li .numeracia:last-of-type {
    margin-bottom: 0px;
  }

  .backgroundphoto {
    height: 180px;
    background-position: top;
    background-repeat: no-repeat;
  }

  .one {
    background-image: url("../img/photo1.jpg");
  }

  .two {
    background-image: url("../img/photo2.jpg");
  }

  .three {
    background-image: url("../img/photo3.jpg");
  }

  .four {
    background-image: url("../img/photo4.jpg");
  }

  .padding {
    padding-left: 25px;
  }

  .nomer1 {
    list-style-type: none;
    margin: 1px;
    width: 400px;
    height: 33px;
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 165%;
    color: #333333;
  }

  .otstup {
    padding-left: 25px;
    margin-bottom: 2px;
    margin-top: 25px;
    width: 400px;
    height: 46px;
    font-family: Arial;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 46px;
    color: #3F2AFF;
  }

  .modul {
    margin-right: 0;
  }

  .odin {
    padding-top: 49px;
    padding-left: 502px;
    color: #EAEAEA;
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 46px;
  }

  .dva {
    margin-top: 16px;
    padding-left: 502px;
    color: #EAEAEA;
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 46px;
  }

  .tri {
    margin-top: 16px;
    padding-left: 502px;
    color: #EAEAEA;
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 46px;
  }

  .chetyre {
    padding-top: 82px;
    padding-left: 502px;
    color: #EAEAEA;
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 46px;
  }

  .button {
    border: 2px solid #3F2AFF;
    background-color: white;
    color: #3F2AFF;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 17px 35px;
    position: static;
    width: 274px;
    height: 70px;
    box-sizing: border-box;

  }

  .center {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    font-family: Arial;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    position: static;
    text-align: center;
    color: #3F2AFF;
    flex: none;
    order: 0;
    flex-grow: 0;
  }
